<nav class="navbar navbar-default">
    <div class="container-fluid" style="background-color: #004192;">
        <!-- Titel und Schalter werden für eine bessere mobile Ansicht zusammengefasst -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
                <span class="sr-only">Navigation ein-/ausblenden</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/page/home">Azubiakademie</a>
        </div>

        <!-- Alle Navigationslinks, Formulare und anderer Inhalt werden hier zusammengefasst und können dann ein- und ausgeblendet werden -->
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-th" style="font-size: 25px; top: 5px"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/page/addPresentation">Eintrag erstellen</a></li>
                        <li><a href="/page/history">History-Liste</a></li>
                    </ul>
                </li>
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="../../Avatar.jpg" alt="avatar" class="navbar-avatar"> <span class="sr-only">Mein Profil</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Zum Profil</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Abmelden</a></li>
                    </ul>
                </li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>